<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/form.css">
</head>
<body>
<div class="form-container">
    <div class="form">
        <div class="formName">
            Dane Firmy
        </div>
        <hr>
        <div class="formMain">
            <div class="formComponent"><input type="text" placeholder="Nazwa"></div>
            <div class="formComponent"><input type="tel" placeholder="NIP"></div>
            <div class="formComponent"><input type="text" placeholder="Regon"></div>
            <div class="formComponent"><input type="tel" placeholder="Number KRS"></div>
            <div class="formComponent"><input type="date" placeholder="Data"></div>
            <div class="formComponent"><input type="text" placeholder="Ulica"></div>
            <div class="formComponent"><input type="text" placeholder="Number KRS"></div>
            <div class="formComponent"><input type="text" placeholder="Number KRS"></div>
            <div class="formComponent"><input type="text" placeholder="Number KRS"></div>
        </div>
    </div>
</div>
</body>
</html>