.container-fluid {
  overflow-y: hidden;
}

/* hero */

hr {
  overflow: visible;
  padding: 0;
  margin-bottom: 10px;
  border: none;
  border-top: 1px solid #e0e0e0;
  color: #6e6d7a;
  text-align: center;
}

a {
  color: #4f3cc9;
  text-decoration: none;
}

.firebase {
  padding: 4rem 1rem;
}

/* mobile */
