
/* hero */

.hero-img {
    background-color: #f1cdd7;
    height: 100vh;
}

h1 {
    padding: 64px 64px 30px;
    color: #865c6c;
}

@media (max-width:960px) {
    .hero-img {
        display: none;
    }

    .col-7 {
        min-width: 100%;
        text-align: center;
    }
}
