.container-fluid {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-y:hidden;
}

h1,h2{
    font: bold 24px/29px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* hero */

.hero-art {
    background-color: #a2cedf;
    height: 100vh;
}

.hero-text {
    height: 100vh;
    overflow-y: hidden;
}

.hero-art h1,h2 {
    padding: 2rem 1.7rem;
    color: #865c6c;
}

.hero-img {
    overflow: hidden;
    width: 20rem;
    padding-left: 2rem;
    
}

/* sign in */

.sign-up {
    text-align: right;
    padding-top: 1.5rem;
}

a {
    color: #4f3cc9;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 10px 16px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 8px;
    transition: color 200ms ease;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    font-weight: 550;
    line-height: 20px;
    height: 40px;
    width: 20rem;
    text-decoration: none;
}


.btn-signin {
    background-color:  #26a1d1;
    margin-top: 2rem;
}

.icon-google {
    margin: 0rem 0.2rem 0.2rem;
    width: 0.8rem;
}

.main {
    padding: 7rem 10rem;
}
hr {
    overflow: visible;
    padding: 0;
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid #e0e0e0;
    color: #6e6d7a;
    text-align: center
}

hr.divider::after {
    content: 'Or';
    display: inline-block;
    position: relative;
    top: -12px;
    font: normal 14px/14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 16px;
    background: #fff;
}


label.password a {
    font-weight: normal;
    float: right;
    position: relative;
    font-size: 14px;
    text-decoration: none;
}

label {
    font: bold 15px/24px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 14px 0 4px;
    color: #0d0c22;
    display:block;
}


.text-input {
    width: 100%;
    margin-right: 8px;
    border: 1px solid transparent;
    height: 40px;
    padding: 10px 16px;
    outline: none;
    border-radius: 8px;
}

.text-input:hover {
    border-color: rgba(0,0,0,0.1);
    /* -webkit-box-shadow: 0 0 0 4px rgb(234 76 137 / 10%); */
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}



/* mobile */

@media (max-width:960px) {
    .hero-art {
        display: none;
    }

    .hero-text {
        width: 100%;
        max-width: 416px;
        flex:none;
        margin: 0 auto;
        padding: 0 20px;
        
    }

    .main {
        padding: 7rem 0rem;
    }

    .btn {
        width: 100%;
    }

    .sign-up {
        display: none;
    }
}

@media (min-width: 960px)
{
    .btn-signin {
        max-width: 200px;
    }
}